:root {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
}
nav div a i {
    color: white;
}
nav div {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav div:nth-child(2) {
    justify-content: flex-end;
}
nav div a {
    color: white;
    text-decoration-line: none;
}
nav div:nth-child(1) a {
    padding: 30px 15px;
}
nav div:nth-child(2) a {
    padding: 30px 15px;
}
nav div a:hover {
    background-color: #ffd000;
    color: #343a40;
}

#welcome-section {
    color: #343a40;
    height: calc(100vh + 160px);
    background-color: #ffd000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1 {
    font-size: 50px;
}
.project-tile {
    width: 90%;
}
#links {
    background-color: #a200ff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#links div:first-child {
    font-size: 35px;
    margin: 120px 0 20px 0;
}
#links div a i {
    color: white;

}
#links div a i:hover {
    color: #ffd000;
    transition: 0.5s;
}
#links div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
#links a {
    margin: 20%;
}
section {
    padding-top: 80px;
    margin-top: -80px;
}
@media (min-width: 850px) {
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
        grid-template-areas:
        "header header"
        "project1 project2"
        "project3 project4";
        justify-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }
    #projects div:first-child {
        grid-area: header;
    }
    #project div:nth-child(2) {
        grid-area: project1;
    }
    #project div:nth-child(3) {
        grid-area: project2;
    }
    #project div:nth-child(4) {
        grid-area: project3;
    }
    #project div:nth-child(5) {
        grid-area: project4;
    }
}